<section>

    <div id="boxAdvice">

        <p> {{objId}}</p>

        <h2> {{objAdvice}} </h2>

        <div id="boxPlay">

            <div id="boxPlay2">

             <picture>

                <source srcset="./../assets/pattern-divider-desktop.svg" media="(min-width:768px)">
                <source srcset="./../assets/pattern-divider-mobile.svg">
            
                <img src="./../assets/pattern-divider-desktop.svg">

             </picture>

            </div>
              
        </div>

        <div id="boxFollow">

            <button (click) = "nextAdvice()">
 
              <img src="./../assets/icon-dice.svg" alt="">

            </button>

        </div>

    </div>

</section>