<section>

    <div id="boxAdvice">

        <p>Advice #13</p>

        <h2>ADVICE</h2>

        <div id="boxPlay">

            <picture>

                <source srcset="./../assets/pattern-divider-desktop.svg" media="(min-width:768px)">
                <source srcset="./../assets/pattern-divider-mobile.svg">
            
                <img src="./../assets/pattern-divider-desktop.svg">

              </picture>
              
        </div>

        <div id="boxFollow">

            <button>

            <img src="./../assets/icon-dice.svg" alt="">

            </button>

        </div>

    </div>

</section>